@inject HttpClient httpClient
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@page "/ledger"

<h3>Monthly Ledgers</h3>

<div class="row my-3">
    <div class="col-md-3">
        <label for="rent-input" class="form-label">Enter monthly ledger:</label>
        <InputNumber @bind-Value="Rent" id="rent-input" class="form-control" placeholder="0" />
    </div>
</div>
<div class="row my-3">
    <div class="col-md-2">
        <button class="btn btn-primary" @onclick="DisplayL">Set</button>
    </div>
</div>


@code {
    private int? Rent { get; set; }

    private void DisplayL() {
        if (Rent <= 0) {
            jsRuntime.InvokeVoidAsync("alert", "Insert a valid number!");
        } else {
            navigationManager.NavigateTo($"ledgers/{Rent}");
        }
    }
}
