@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome At Kara's PetShop</h1>
    <h5>~ANIMALS ARE NOT TOYS FOR CHILDERN <b style="color:red">!- RESPECT THEM -!</b> THEY HAVE SO MUCH TO TEACH YOU ABOUT LIFE~</h5>
    <br />
    <br />
    <p>
        Friendship and other social relationships have both positive and negative effects. However, keeping an animal as a companion only works towards the positive ones.

        People with pets feel less lonely and find an excellent partner to spend time with. Dogs are great for the improvement of physical health too. This is because you can play or take a walk with them.

        Furthermore, some findings show that having pets as a companion can improve your social interactions.

        In the elderly, having a pet provides emotional and social support too. A study reveals that pet owners have better physical and psychological well-being than people with no pets.

        They get compassion from the pets at old age and become better at doing their regular activities such as bending, kneeling, climbing stairs, walking, dressing up, preparing food, and taking medicines.

        Children with no siblings might feel shy and less socially active. And several studies show that having pets can help kids develop empathy and emotions plus increase interaction with others. Therefore, animals are essential in human life for both physical and mental well-being.
    </p>
</div>
