@using FuelStation.Model;
@inject LoggedUser loggedUser
@inject NavigationManager navigator
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Fuel Station</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-account-login" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        @if ( loggedUser.Role== EmployeeType.Manager || loggedUser.Role==EmployeeType.Cashier)
        {
            <div class="nav-item px-3">

                <NavLink class="nav-link" href="customerList" Match="NavLinkMatch.All">
                    <span class="oi oi-person" aria-hidden="true"></span> Customers
                </NavLink>           
        </div>
        }
        @if (loggedUser.Role == EmployeeType.Manager) {
            <div class="nav-item px-3">

                <NavLink class="nav-link" href="employeeList" Match="NavLinkMatch.All">
                    <span class="oi oi-person" aria-hidden="true"></span> Employees
                </NavLink>           
        </div>
        }

        <div class="nav-item px-3">
            @if (loggedUser.Role == EmployeeType.Manager || loggedUser.Role == EmployeeType.Staff) {
                <NavLink class="nav-link" href="ledger" Match="NavLinkMatch.All">
                    <span class="oi oi-file" aria-hidden="true"></span> Ledgers
                </NavLink>
            }
        </div>

        <div class="nav-item px-3">
            @if (loggedUser.Role == EmployeeType.Manager || loggedUser.Role == EmployeeType.Staff) {
                <NavLink class="nav-link" href="itemList" Match="NavLinkMatch.All">
                    <span class="oi oi-folder" aria-hidden="true"></span> Items
                </NavLink>
            }
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="Logout" Match="NavLinkMatch.All">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void Logout()
    {
        navigator.NavigateTo("/", true);
    }
}
