@using PetShop.Web.MVC.Models.CustomerDto;
@model CustomerDtoCreate

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerDtoName" class="control-label"></label>
                <input asp-for="CustomerDtoName" class="form-control" />
                <span asp-validation-for="CustomerDtoName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerDtoSurname" class="control-label"></label>
                <input asp-for="CustomerDtoSurname" class="form-control" />
                <span asp-validation-for="CustomerDtoSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneDto" class="control-label"></label>
                <input asp-for="PhoneDto" class="form-control" />
                <span asp-validation-for="PhoneDto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TINDto" class="control-label"></label>
                <input asp-for="TINDto" class="form-control" />
                <span asp-validation-for="TINDto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Customer">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
